body{
    margin:0;
    padding:0;
  }
  img{
    width:100%;
  }
  .container{
    padding:20px;
  }
  footer p{
    text-align:center;
    margin:auto;
    background-color:skyblue;
    padding:20px;
    border-radius:20px;
  }
  ul.menu{
    list-style:none;
    padding:0;
    width:85%;
    margin:auto;
  }
  ul.menu li{
    background-color:skyblue;
    color:white;
    padding:10px 15px;
    margin:0 0 5px 0;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
  }
  .logo{
    width:70%;
    margin:auto;
  }
  .main-pic{
    border:2px solid turquoise;
    background-image: url("https://learn.seytech.co/assets/projects/html-css/images/mobile_first/main.jpeg");
    height:300px;
    background-size:cover;
    background-position:center;
    margin-bottom:10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .quote{
    font-family: "Cedarville Cursive", cursive;
    text-align:center;
    width:80%;
    margin:auto;
    line-height:18px;
    font-size:20px;
    font-weight:600;
  }
  .clear{
    clear:both;
  }
  main{
    padding:10px 15px;
  }
  h3, p{
    font-size:18px;
    text-align:center;
    font-family: 'Akaya Telivigala', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Festive', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Handlee', cursive;
  font-family: 'Heebo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Redressed', cursive;
  }
  h3{
    font-size:20px;
    border:1px solid skyblue;
    padding:10px 15px;
    margin:0 30px;
    background-color:turquoise;
    color:white;
    border-radius:20px;
  }
  @media screen and (min-width:768px){
    .logo{
      width:40%;
    }
    ul.menu li{
      display:inline-block;
      width:90%;
    }
    ul.menu{
      text-align:center;
    }
  }
  @media screen and (min-width:1000px){
    .logo{
      float:left;
      width:20%;
    }
    ul.menu{
      float:right;
      width:70%;
      text-align:center;
    }
    ul.menu li{
      display:inline-block;
      width:90px;
    }
    p{
      text-align:left;
    }
    .first{
      float:left;
      width:50%;
    }
    .yurt{
      float:right;
      width:40%;
    }
    .second, .third, .fourth{
      float:left;
      width:33.3%;
    }
  }